.bodyPassEstablecida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.imgPassEstablecida {
  width: 95vw;
  align-items: center;
  margin-bottom: 12px;
}
.pick {
  margin-bottom: 36px;
}
